.action-overlay{
    // position: absolute;
    // width: 22rem;
    // height: 17rem;
    // background-color: #fff;
}

.action-modal{
    width: 22rem;
    height: 17rem;
    background-color: #fff;
}

.action-title{

}

.action-content{
    
}