.details-overlay{
    position: relative;
    background-color: #e6e6e6;
    z-index: 10;
}

.action-modal{
    min-height: 8rem;
    background-color: #fff;
    border-radius: 4px;
}

.board-members-modal{
    width: 20rem;
}

.group-wrap-modal{
    position: absolute;
    top: -9px;
    width: 22rem;
    height: 15rem;
    background: rgb(255, 255, 255);
    margin-inline-start: 24.5rem ;
    z-index: 5;
    border-radius: 8px;

}

.group-modal{
    width: 22rem;
    height: 100%;
    border: #333 4px solid;
    border-radius: 8px;
}

.label-wrap-modal{
    width: 22rem;
    height: 19rem;
}

.label-modal{
    width: 22rem;
    height: 100%;
}

.members-wrap-modal{
    width: 22rem;
    height: 17rem;
}

.members-modal{
    width: 22rem;
    height: 100%;
}

.duedate-wrap-modal{
    width: 22rem;
    height: 12rem;
}

.duedate-modal{
    width: 22rem;
    height: 100%;
}

.move-wrap-modal{
    position: absolute;
    top: 17rem;
    right: -13rem;
    width: 15rem;
    height: 14rem;
}

.copy-wrap-modal{
    position: absolute;
    top: 14rem;
    right: -13rem;
    width: 15rem;
    height: 14rem;
}

.copy-modal{
    width: 15rem;
    height: 14rem;
}


.header-modal{
    border-bottom: 1px solid var(--spanColor);
}

.input-date{
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 12px;
    color: #333
}

.input-date::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border: none
}

li.btn-delete:hover{
    background: rgba(240, 80, 80, 0.541);
}

.btn-copy-move{
    margin-top: 12px;
    background: #fff;
    border: 2px solid #333;
    color: #333;
    padding: 2px 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.btn-copy-move:hover{
    border: 2px solid var(--spanColor);
    border-radius: 4px;


}

.li-btn:hover{
    background: #e6e6e6;
}