
.app-header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.041);
}


.app-header a{
    color: #333;
}

.logo{
    color: whitesmoke;
    font-size: 1.8rem;
}

.logo:hover{
    opacity: 0.8;
}

.logo-span{
    font-family: 'Faster One', cursive;
    color: var(--spanColor);
}
.main-nav a{
    font-size: 1.1rem;
    font-weight: 500;
}
a.btn-boards:hover{
    color: #fff;
}


.btn-boards{
    height: 100%;
    padding: 0 8px;
    transition: 0.3s;
}

a.btn-boards:hover{
    color: #333;
}