
.app-header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 40px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 4px 10px;
    background-color: #026aa7;
    // background-color: rgba(0, 0, 0, 0.32);
}


// .app-header a{
//     color: #333;
// }

.logo{
    color: whitesmoke;
    font-size: 1.8rem;
}

.logo:hover{
    opacity: 0.8;
}

.logo-span{
    font-family: 'Faster One', cursive;
    // color: var(--spanColor);
}

a.btn-boards:hover{
    color: #fff;
}


.btn-boards{
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    border: 0;
    text-decoration: none;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: none;
    color: #ffffff;
    display: flex;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin: 0 4px 0 0;
    padding: 0 4px 0 4px;
    white-space: nowrap;
    justify-content: center;
    transition: 0.2s;
}

.icon-boards{
    border-radius: 3px;
    border: 0;
    text-decoration: none;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: none;
    color: #ffffff;
    display: flex;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin: 0 4px 0 0;
    padding: 0 4px 0 4px;
    white-space: nowrap;
    justify-content: center;
    transition: 0.2s;
    font-size: 25px;
    font-weight: 700;
}

.add-icon-nav{
    color: whitesmoke;
}

.btn-boards:hover,.icon-boards:hover{
    background-color: rgba(255, 255, 255, 0.445);
}

.app-header-logo{
    color: #ffffff;
}