
.app-header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 40px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 4px 6px;
    background-color: #026ba700;
    // background-color: rgba(0, 0, 0, 0.32);
}

.app-header{
    background: rgba(110, 110, 110, 0.39);
}

// .app-header a{
//     color: #333;
// }

.logo{
    color: whitesmoke;
    font-size: 1.4rem;
    font-weight: bold;
}

.logo:hover{
    opacity: 0.8;
}

.logo-span{
    font-family: 'Faster One', cursive;
    font-weight: 400;
    // color: var(--spanColor);
}

a.btn-boards:hover{
    color: #fff;
}



.btn-boards{
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    border: 0;
    text-decoration: none;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: none;
    color: #ffffff;
    display: flex;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin: 0 4px 0 0;
    padding: 0 4px 0 4px;
    white-space: nowrap;
    justify-content: center;
    transition: 0.2s;
}

.icon-header{
    border-radius: 3px;
    border: 0;
    text-decoration: none;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: none;
    color: #ffffff;
    display: flex;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin: 0 4px 0 0;
    padding: 0 4px 0 4px;
    white-space: nowrap;
    justify-content: center;
    transition: 0.2s;
    font-size: 25px;
    font-weight: 700;
    width: 32px;
}

.add-icon-nav{
    color: whitesmoke;
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.btn-boards:hover,.icon-boards:hover{
    background-color: rgba(255, 255, 255, 0.445);
}

.app-header-logo{
    color: #ffffff6e;
}

.app-header-logo:hover{
    color: #ffffffd0;
}
.boards-list-btn{
    padding:  0 8px;
}

.boards-list-btn span{
    background: initial;
}

span.icon-boards{
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 0;
    padding: 0 4px 0 0;
}

.search-input::placeholder{
    color: #fff;
}

.icon-search{
    align-items: center;
    color: #fff;
    font-size: 20px;
    padding: 0 4px 0 0;
}

.bg-btn{
    background-color: rgba(255, 255, 255, 0.219);
}