.app{
    height: 100vh;
    -webkit-text-size-adjust: 100%;
    // overflow-y: auto;
}

.app-main{  
    height: 93vh;
    padding: 0;
    // overflow-y: hidden;
}


li.btn-board{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0.3rem;
    cursor: pointer;
    padding: 0.3rem;
}

input.app-input{
    background: inherit;
    border: none;
    outline: none;
    border-radius: 3px;
}

.app-input:focus{
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
}

.app-hover{
 
}
