.app{
    -webkit-text-size-adjust: 100%;
}

.app-main{  
    min-height: 93vh;
    padding: 0;
}

.max-screen{
    min-height: 100vh;
    height: auto;
    // overflow-y: hidden;

}



input.app-input{
    background: inherit;
    border: none;
    outline: none;
    border-radius: 3px;
}

.app-input:focus{
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
}


select{
    width: 70%;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 4px;
    font-weight: 500;
    color: #333;
    border: none;
    border-bottom: 1px solid #333;
    cursor: pointer;
}

select option{
    font-weight: 500;
    color: #333;
    cursor: pointer;
}

