.app{
    height: 100vh;
}

.app-main{  
    height: 93vh;
    padding: 0;
}


li.btn-board{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0.3rem;
    cursor: pointer;
    padding: 0.3rem;
}

