.board{
    overflow-x: scroll;
    overflow-y: hidden;
    height: 93vh;
    opacity: 0.9;
    background: url('../../img/bg-3.jpg') no-repeat center/cover ;
}

.add-group{
    height: 3rem;
    top: 1rem;
}

.groups{
    align-items: flex-start;
}