.board-navbar{
    width: 100%;
    height: auto;
    padding: 0px 2px 8px 2px;
    
}

.btn-board{

}

.left-bar{
    flex: 0 1 ;
}

.input-navbar{
    height: 32px;
    border-radius: 3px;
    padding-left: 8px;
    margin: 0 2px 0 2px;
}

.bg-board-btn{
    background-color: rgba(255, 255, 255, 0.151);
}


.btn-board-navbar{
    background-color: rgba(255, 255, 255, 0.2);
    height: 32px;
    border-radius: 3px;
    padding: 0 12px;
    margin: 0 2px 0 2px;
}

.board-navbar input{
    font-size: 1rem;
    padding: 0;
}

li.btn-board{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

input.nav-board-input:focus{
    color: #fff;
    background-color: inherit;
}

.input-board-title{
    width: 5rem;
}

.board-btn-divider{
    float: left;
    height: 16px;
    border-left: 1px solid  #ffffff3d;
    margin: 8px 8px 12px 4px
}