.board-navbar{
    height: 3rem;
    background: rgba(255, 255, 255, 0.493);
    border-radius: 4px;
    width: 100%;
}


.board-navbar input{
    font-size: 1.2rem;
    width: 9rem;
}


input.nav-board-input:focus{
    color: #333;
    padding: 4px;
}