.miniBoard{
    width: 12rem;
    height: 6rem;
    background: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2286x1600/24baa6609b89fb8eb0cc0aceb70eaf36/photo-1557682250-33bd709cbe85.jpg") no-repeat center/cover ;
    transition: 0.3s;
    border-radius: 5px;
}

.title-miniBoard{
    transform: scale(1.1);
    color: var(--mainColor);
    color: whitesmoke;
}


.miniBoard:hover{
    transform: scale(1.1);
    opacity:  0.9;
}


