.miniBoard{
    width: 12rem;
    height: 6rem;
    background: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2286x1600/24baa6609b89fb8eb0cc0aceb70eaf36/photo-1557682250-33bd709cbe85.jpg") no-repeat center/cover ;
    transition: 0.3s;
    border-radius: 5px;
}

.title-miniBoard{
    transform: scale(1.1);
    color: var(--mainColor);
    color: whitesmoke;
}


.miniBoard:hover{
    transform: scale(1.1);
    opacity:  0.9;
}


.add-board{
    display: flex;
    flex-direction: column;
    gap: 10px;
    input{
       flex-basis: 80%;
       padding:5px;
       border-radius: 3px;
       border-width: 1px;
       background-color: rgba(245, 245, 245, 0.863);
    }
}

.change-img-container{
    button {
        width: 6.5rem;

        font-weight: 600;
        color: #fff;
        cursor: pointer;
        height: auto;
        text-align:center;
        border: none;
        background-size: 300% 100%;
        border-radius: 50px;
        transition: all .4s ease-in-out;
    }
    
    button:hover {
        background-position: 100% 0;
        transition: all .4s ease-in-out;
    }
    
    button:focus {
        outline: none;
    }
    

        button {
            background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
            box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
        }
        .change-img{
            border-radius: 20%;
            padding: 3px;
            // background-color: rgba(255, 255, 255, 0.637);
            font-weight: bold;
            cursor: pointer;
            &:hover{
                background-color: rgba(255, 255, 255, 0.747);
            }
        
    
    }
}

.control-img{
    position: relative;
    top: 3rem;
}

