.miniBoard{
    width: 12rem;
    height: 6rem;
    background: url('../../img/bg-3.jpg') no-repeat center/cover ;
    border-radius: 4px;
    transition: 0.3s;
}

.title-miniBoard{
    transform: scale(1.1);
    color: var(--mainColor);
}


.miniBoard:hover{
    transform: scale(1.1);
    opacity:  0.9;
}


