.task-preview{
    background-color:#fff;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    &:hover{
        background-color: rgba(245, 245, 245, 0.57);
    }
    h1{
        margin:0;
    }
}

small{
    margin: 0 5px 0 5px;
}

.preview-label{
    width: 3rem;
    height: 0.5rem;
    border-radius: 8px;
    text-align: center;
    transition: .2s;
    margin-right: 0.3rem;
    color: whitesmoke;
    font-weight: bold;
    
}

.label-open{
    height: 1rem;
}

.check-list-done-prev{
    background-color: #61bd4f;
    border-radius: 3px;
    color: whitesmoke;
    padding: 2px;
}

