.group{
    background-color: #ebecf0;
    position: relative;
    -webkit-margin-end: 10px;
    max-height: 100%;
    border-radius: 4px;
    width: 22%;
    min-width: 272px;
    padding: 10px;
    form > *{
        margin: 0;
    }
}

.task-list{
    overflow-y: auto;
    max-height: 20rem;
}

.add-task{
    background-color: transparent;
    border: transparent;
    width: 256px;
    height: 36px;
    &:hover{
        background-color: rgba(194, 194, 194, 0.523);
        transition: .3s;
    }
}

.group-title{
    font-size: 1.2rem;
    font-weight: bold;
}