
.task-details{
    @include center-modal;
    height: 100%;
    top: -16rem;
    border-radius: 4px;
    input.input-details,textarea{
        border-radius: 5px;
        background: inherit;
        border: none;
        resize: none;
        font-size: 1rem;
        &:focus{
            outline: none;
            border: 1px solid rgb(70, 155, 211);
        }
    }
    form{
        margin: 0 0;
    }
    textarea{
        height: 5rem;
        font-size: 1rem;
    }
    .task-title{
        align-items: center;
        background: inherit;
    }
    .desc-header{
        gap:20px;
        align-items: center;
    }
    .task-title input{
        margin: 10px;
        width: 600px;
        font-size: 30px;
 }
    .avatar{
    border-radius: 50%;
    height: 2rem;
    width: auto;
}

.desc-header{
   font-size: 1.5rem;
}

.full-comment{
    gap:10px
}
    .comment-text{
    justify-content: flex-start;
    h3{
        margin:0;
    }
    }

}
