
.task-details{
    @include center-modal;
    height: 100%;
    top: -16rem;
    border-radius: 4px;
    input.input-details,textarea{
        border-radius: 5px;
        background: inherit;
        border: none;
        resize: none;
        &:focus{
            outline: none;
            border: 1px solid rgb(70, 155, 211);
        }
    }
    form{
        margin: 0 0;
    }
    textarea{
        height: 5rem;
        font-size: 1rem;
    }
    .task-title{
        align-items: center;
        background: inherit;
        display: inline-block;
    }
    .desc-header{
        gap:15px;
        align-items: center;
    }
    .task-title input{
        width: 50%;
        font-size: 30px;
 }
    .avatar{
    border-radius: 50%;
    height: 2rem;
    width: auto;
}

.desc-header{
   font-size: 1.5rem;
}

.full-comment{
    gap:10px
}
    .comment-text{
    justify-content: flex-start;
    h3{
        margin:0;
    }
    }

}


.btn-action{
    display: flex;
    align-items: center;
    justify-content:baseline;
    gap: 0.5rem;
    background: rgb(216, 216, 216);
    padding: 2px 1rem;
    border-radius: 4px;
    margin-bottom: 4px;
    width: 132px;
    height: 30px;
    cursor: pointer;
}

.btn-action:hover{
    background: rgb(202, 202, 202);

}

.details-header{
    font-size: 1.5rem;
}
.content-gap{
    margin-left: 40px;
}

.label-input{
    outline: none;
    border: none;
    margin-bottom: 8px;
    width: 95%;
    height: 1.6rem;
    border-radius: 4px;
    .true{
        pointer-events: none;
    }
}

span.edit-label{
    cursor: pointer;
}

.details-label{
    min-width: 40px;
    height: 32px;
    padding: 0 12px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 4px;

}