.task-preview{
    background-color:#fff;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    &:hover{
        background-color: rgba(245, 245, 245, 0.57);
    }
    h1{
        margin:0;
    }
}

small{
    margin: 0 5px 0 5px;
}

.preview-label{
    width: 2rem;
    height: 0.5rem;
    border-radius: 25%;
}