.wrap-list-task{
    margin: 0 4px;
    padding: 0 4px;
    margin-bottom: 8px;
}
.wrap-task-prev{
    background: #fff;
}
.task-preview{
    width: 256px;
    padding: 6px 8px 2px;
    white-space: normal;
}

.task-preview:hover{
    background: rgba(216, 216, 216, 0.479);
}

.preview-label{
    float: left;
    width: 40px;
    height: 8px;
    border-radius: 4px;
    text-align: center;
    transition: .2s;
    margin: 0 4px 4px 0;
    color: #fff;
    font-weight: bold;

}

.label-open{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    width: 56px;
    font-size: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 16px;
    padding: 0 8px;
    max-width: 198px;
}

.check-list-done-prev{
    background-color: #61bd4f;
    color: #fff;
    border-radius: 3px
}

.task-title{
    display: block;
    line-height: 20px;
    margin: 0 0 4px;
    width: 232px;
}


// TASK-LIST-SCROLLER
/*  Scroll Helper   */
.task-list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.task-list::-webkit-scrollbar-track {
    width: 12px;
    box-shadow: inset 0 0 5px rgb(211, 210, 210); 
    background-color: #fd2121;
}

.task-list::-webkit-scrollbar-thumb {

    width: 12px;
    border-radius: 2px;
    background-color: #ffffff;
    background-image: linear-gradient(-86deg, #342d41 100%, #a33838 100%);
}

.task-list::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(-86deg, #4508d4 100%, #ffffff 0%);
}