
.task-details{
    @include center-modal;
    height: 76vh;
    width: 76vw;
    border-radius: 10px;
    input.input-details,textarea{
        border-radius: 5px;
        background: inherit;
        border: none;
        
        &:focus{
            background: #fff;
            outline: none;
            border:none;
        }
    }
    textarea{
        height: 100px;
        resize: none;
    }
    .details-header{
        align-items: center;
    }
    
    .details-header input{
        margin: 10px;
    width: 600px;
     font-size: 30px;
 }
    .avatar{
    border-radius: 50%;
    height: 3rem;
    width: auto;
}

    .commenter{
    align-items: center;
    h1{
        margin:0;
    }
    }

}
