.task-list{
    background-color: #ebecf0;
    position: relative;
    -webkit-margin-end: 10px;
    margin-inline-end: 10px;
    border-radius: 4px;
    width: 272px;
    min-width: 272px;
    padding: 10px 6px 10px 10px;
    align-items: flex-start;
}